<h2>Détails pour "<%= @activity %>"</h2>

<table class="table table-dotted" style="width:inherit">
  <tr>
    <th><%= image_tag 'time.png' %> Enregistrée le :</th>
    <td><%= creator(@activity) %></td>
  </tr>
  <tr>
    <th><%= image_tag 'time.png' %> Mise à jour le :</th>
    <td><%= updater(@activity) %></td>
  </tr>
</table>

<%= render 'application/incomes_expenses_details', model: @activity, default_sort_order: 0 %>
